[Unit]
Description=Poll main for deployable commits every 30 seconds

[Timer]
OnBootSec=3min
OnUnitActiveSec=30s
RandomizedDelaySec=5s

[Install]
WantedBy=timers.target
